@import "compass/reset";
@import "compass/layout";
@import "compass/typography/links";
@import "compass/utilities/tables";

$header_color: #008cd7;
//#2980b9;
$master_color2: #77B3DB;
//#3498DB;
$slave_color1: #C3E7F0;
//#7CB1D4;
$slave_color2: #008cd7;
$emphas_font_color: #DB8634;
$font_color: #ffffff;
$base_font_size: 14px;
$base_font_family: "Microsoft yahei";
$background_color: #ffffff;
$border-color: #008cd7;
$backgroundborder_color: #e5e5e5;
$mainfont_color: #333333;
$menu_color: #159EDD;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-mini {
  width: 60px
}

.input-small {
  width: 90px
}

.input-medium {
  width: 150px
}

.input-large {
  width: 210px
}

.input-xlarge {
  width: 270px
}

.input-xxlarge {
  width: 530px
}

h1 {
  font-size: 24px;
  text-indent: 20px;
}

a {
  @include link-colors(#fff, #fff, #fff, #fff, #fff);
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $font_color;
  font: $base_font_size $base_font_family;
  background: $background_color;
}

#wrap {
  clear: both;
  width: 96%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  zoom: 1;
  min-height: 460px;
}

/*#header {
  position: fixed;
  font: $base_font_size $base_font_family;
  background: $header_color;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-indent: 100px;
  border-bottom: 1px solid #ccc;
}*/
.header {
  width: 100%;
  height: 120px;
  background: url("../img/banner.jpg") no-repeat center top;
  background-color: #008cd7;
}

.ainfo {
  clear: both;
  float: right;
  line-height: 30px;
  a {
    margin-left: 15px;
  }
}

/*#headerimag {

  top: 0;
  width: 1024px;
  height: 120px;
  margin: 0 auto;
  position: relative;



}*/
#footer {
  border-top: 1px solid #fff;
  clear: both;
  @include sticky-footer(80px);
  background: $header_color;
  text-align: center;
  font: $base_font_size $base_font_family;
  line-height: 80px;
}

#leftmenu {
  margin: 0px auto;
  background: #ffffff;
  // border:1px #e5e5e5 solid;
  width: 80%;
  div {
    width: 90%;
    margin: 0 auto;
  }
  ul {
    margin: 20px auto;
  }
}

#leftside {
  float: left;
  min-width: 220px;
  width: 20%;

  min-height: 600px;
  height: auto !important;
  _height: 600px;
  ul {
    margin: 0px auto;
    list-style: none;
    li {
      width: 180px;
      line-height: 40px;
      margin: 0px auto;
      margin-bottom: 5px;
      padding-left: 10px;
      cursor: pointer;
      font-weight: bold;
      span {
        float: right;
        font-family: "Arial";
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        border-left: 1px solid $header_color;
      }
    }
    .select {
      background: darkorange;
    }
    .menuhover {
      a {
        @include link-colors($header_color, $header_color, $header_color, $header_color, $header_color);

      }
      background: #efefef;
      span {
        background: #F6F6F6;
        color: #1D85B4;
        width: 40px;
      }
      border: #e5e5e5 1px solid;
    }
    .menu {
      background: #F6F6F6;
      color: #008cd7;
      span {
        color: #1D85B4;
        background: #efefef;
        width: 40px;
      }
      border: #e5e5e5 1px solid;
      a {
        @include link-colors(#008cd7, #008cd7, #008cd7, #008cd7, #008cd7);
      }

    }

  }
}

#rightsideorg {
  width: 100%;
  padding-bottom: 35px;
  height: auto !important;
  _height: 600px;
}

#rightside {
  min-width: 790px;
  width: 80%;
  float: left;
  background: #FFF;
  min-height: 600px;
  height: auto !important;
  _height: 600px;
  padding-bottom: 35px;

}

.clr {
  clear: both;
}

.portalet {
  margin: 0 auto;
  //margin-bottom: 30px;
  width: 100%;
  .title {
    background: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    color: $header_color;
    height: 40px;
    // width: 150px;
    font-size: 14px;
    //text-align: center;
    text-indent: 15px;
    line-height: 40px;
    font-weight: bold;
  }
  .content {
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #333;
  }
}

.subportalet {
  margin: 0 auto;
  padding-right: 10px;
  width: 25%;
  float: left;
  margin-bottom: 10px;
  .subtitle {
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    background: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    color: $header_color;
    font-weight: bold;

  }
  .subbody {
    padding: 10px;
    min-height: 120px;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #333;
  }

}

.subportaletlast {
  margin: 0 auto;
  padding-right: 10px;
  width: 25%;
  float: right;

}

table {
  text-indent: 10px;
  width: 100%;
  @include alternating-rows-and-columns($header_color, #ffffff, #000000, #ffffff, #ffffff);
  //@include outer-table-borders(0px,$header_color);
  @include inner-table-borders(1px, #e5e5e5);
  @include table-scaffolding;
  td {
    height: 30px;
    line-height: 30px;
    padding: 0px;
    color: $mainfont_color;
    a {
      color: #008cd7;
      font-weight: bold;
      &:hover {
        color: #008cd7;
      }
      &:visited {
        color: #008cd7;
      }
    }
  }
  th {
    height: 30px;
    line-height: 30px;
    color: $mainfont_color;
  }
}

.photo {
  line-height: 100%;
  text-indent: 0px;
  width: 90px;
  height: 120px;
}

.catlog {
  color: #ffffff;
  margin-right: 10px;
  a {
    width: 30px;
    height: 20px;
    padding: 2px 5px;
    background: darkorange;
    @include link-colors(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    border: 1px solid $slave_color1;
    &:hover {
      background: $master_color2;
    }
  }
}

.label {
  width: 96%;
  margin: 10px auto;
}

.infobold {
  font-weight: bold;
}

#personguage {
  margin-top: 10px;
  margin-left: 5px;
}

#leftside ul li.selected {
  background: #159EDD;
  span {
    background: #C3E7F0;
  }
}

#search {
  .querycontent {
    padding: 10px;
    border: 1px solid #e5e5e5;
  }
}

.positiontbl {
  border: none;
  td {
    border: none;
    height: 40px;
  }
}

@mixin input {
  border: none;
  width: 150px;
  height: 30px;
  color: #333;
  font-family: "Microsoft Yahei";
  border: 1px solid $slave_color2;
  font-size: 16px;
  line-height: 30px;
  text-indent: 10px;
  padding: 0px 3px;

}

input {
  @include input;
}

@mixin btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: $slave_color2;
  color: #fff;
  font-weight: bold;
  margin: 5px 0px;
  &:hover {
    background: $header_color;
  }
}

.btn {
  @include btn;
}

.right {
  float: right;
}

div.groupset {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  a {
    padding: 5px 10px;
    text-align: center;
    line-height: 30px;
    background: $master_color2;
    border: 1px solid $slave_color1;
    &:hover {
      background: darkorange;

    }
  }
  .select {
    background: darkorange;
  }
}

.cardlist {
  margin: 0 auto;
  margin-top: 20px;

}

.card {
  min-width: 220px;
  width: 280px;
  height: 150px;
  border: 1px solid $slave_color2;
  float: left;
  margin-left: 15px;
  background: #fff;
  margin-bottom: 15px;
  .title {
    font-size: 16px;
    font-weight: bold;
    background: $slave_color2;
    height: 35px;
    text-indent: 5px;
    img {
      margin-bottom: -10px;
      margin-right: 10px;
    }
    div {
      float: left;
      white-space: nowrap;
      overflow: hidden;
      width: 233px;
      text-overflow: ellipsis;
      line-height: 35px;
    }
    span {
      float: right;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      font-family: "Lucida Console";
      font-weight: bold;
      margin-right: 10px;
      background: $slave_color2;
      color: rgb(230, 250, 127);
      font-size: 20px;
    }
  }
  .content {
    margin-top: 10px;
    margin-left: 10px;
    color: #333
  }

  &:hover {
    border: 1px solid $header_color;
    .title {
      background: $header_color;
      span {
        background: $header_color;
      }
    }
  }
}

#queryret {
  width: 100%;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.date {
  img {
    vertical-align: top;
    margin-top: 3px;
    margin-left: -30px;
  }
}

#gotop {
  clear: both;
  margin-top: 300px;
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: $slave_color2;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
}

#login {
  margin: 0px auto;
  width: 1024px;
  height: 630px;
  background: url("../img/yunnan1.jpg") no-repeat;
}

#unauthorized {
  padding-top: 60px;
  margin: 0px auto;
  width: 1000px;
  height: 600px;
  background: url("../img/unauthorized.jpg") no-repeat;
}

#unauthorized .infotip {
  position: relative;
  top: 50px;
  left: 650px;
}

#loginform {
  width: 250px;
  position: relative;
  left: 650px;
  top: 230px;
  color: $slave_color2;
  font-size: 16px;
  font-weight: bold;
}

.form_chk {
  float: left;
  width: 15px;
  height: 15px;
  line-height: 22px;
  border: 1px solid $slave_color2;
  margin-right: 10px;
}

.form_input {
  @include input;
}

.form_mininput {
  @include input;
  width: 80px;
}

.form_btn {
  @include btn;
  margin: 30px auto;
}

.formrow {
  width: 100%;
  margin-bottom: 10px;

}

.formlabel {
  float: left;
  width: 30%;
}

.forminput {
  float: left;
  width: 70%;
}

.form_largeinput {
  float: left;
  width: 300px;
}

.mainquery {
  margin: 15px 60px;
  background: $background_color;
  border: 1px solid $header_color;
  padding: 40px;
  height: 200px;
  color: $slave_color2;
}

.tip {
  float: right;
  color: red;
}

#pageplugin {
  width: 96%;
  padding: 10px;
}

.pager li {
  float: left;
  text-indent: 10px;
  font-weight: bold;
  a {
    @include link-colors(#075694, #075694, #075694, #075694, #075694);
  }
}

#pageinput {
  margin-top: -5px;
}

.queryalert {
  width: 96%;
  padding: 10px;
  margin: 5px auto;
  background: #ff7373;
  border: 1px solid $slave_color2;
}

.totalcomponent {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.totalcomponent>p {
  border-bottom: 1px solid #e5e5e5;
  background: #f6f6f6;
  color: $header_color;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  font-weight: bold;
  font-size: 14px;
}

.totalcomponent table {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 5px;
}

.cdabody {
  width: 100%;
}

#slidebar {
  position: absolute;
  width: 25px;
  height: 50px;
  left: -20px;
  bottom: 160px;
  z-index: 100;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.upshow {
  height: 25px;
  background: transparent url(../img/toolbar.gif) -245px -83px no-repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.downshow {
  height: 25px;
  background: transparent url(../img/toolbar.gif) -245px -108px no-repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.updisable {
  height: 25px;
  background: transparent url(../img/toolbar.gif) -272px -83px no-repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.downdisable {
  height: 25px;
  background: transparent url(../img/toolbar.gif) -272px -108px no-repeat;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#left {
  position: fixed;
  top: 130px;
  float: left;
  min-width: 220px;
  width: 20%;
  min-height: 500px;
  margin: 0px auto;
  ul {
    margin: 0 auto;
    border-top: none;
    // padding-top: 10px;
    list-style: none;
    background: #fff;
    position: relative;
    top: 0px;
    p {
      color: $slave_color2;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    li {
      margin: 0 auto;
      width: 180px;
      height: 40px;
      cursor: pointer;
      line-height: 40px;
      background: #f6f6f6;
      margin-bottom: 5px;
      font-weight: bold;
      padding-left: 5px;
      text-indent: 15px;
      border: 1px solid #e5e5e5;
      color: #008cd7;
      &:hover {
        background: #efefef;
      }
      a {
        color: #008cd7;
      }
    }
  }
}

#xleft_menu {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative;
  border: #e5e5e5 1px solid;
  border-top: none;
}

#left_menu {
  overflow-y: hidden;
  height: 500px;
  margin: 0 auto;
  position: relative;

}

.menutitle {
  position: relative;
  width: 80%;
  background: #efefef;
  color: #008cd7;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  img {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
  }
  margin: 0 auto;
}

#right {
  min-width: 790px;
  margin-left: 20%;
  width: 80%;
  float: left;
  background: #fff;
  min-height: 600px;
  height: auto !important;
  _height: 600px;
  padding-left: 10px;
}

.content>p {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  color: $header_color;
  margin-bottom: 5px;
}

.detail>p {
  margin: 0px auto;
  width: 95%;
  text-indent: 15px;
  span {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }

}

table.subcomponent {
  border: 1px solid #e5e5e5;
  width: 96%;
}

table.LIST {
  border: 1px solid #e5e5e5;
  width: 96%;
}

table.detail {
  border: 1px solid #e5e5e5;
  width: 96%;
}

.component>p {
  margin: 0px auto;
  width: 95%;
  line-height: 30px;
  text-indent: 10px;
  span {
    font-size: 14px;
    font-weight: bold;
    color: $slave_color2;
  }
  margin-bottom: 5px;
}

#wrap1 {
  clear: both;
  min-width: 960px;
  width: 96%;
  margin: 0 auto;
  padding-top: 10px;
  overflow: auto;
  background: #fff;
  zoom: 1;
}

.errmsg {
  color: red;
}