ul.vertictimeline {

 list-style-type: none;

 background: url(../img/version_line.png) repeat-y scroll 120px 0 transparent;

 margin-left: 100px;

padding: 0;

  }


  ul.vertictimeline li {

  position: relative;


  }
 
  ul.vertictimeline li .time {

  position: absolute;

  width: 150px;

  text-align: right;
 font-size: 16px;
  font-weight:bold;

  left: -100px;

  top: 10px;

 color:#666;

  }
  ul.vertictimeline li .version {

 position: absolute;

  width: 290px;

  text-align: right;

 font-weight:bold;

 left: -250px;

  top: 40px;

 font-size: 15px;

  line-height: 50px;

  color: #3594cb;

  overflow: hidden;

  }

  ul.vertictimeline li .number {

 position: absolute;

 background: url(../img/version_dot.png) no-repeat scroll 0 0 transparent;

  width: 56px;

  height: 56px;

  

 left: 97px;

  line-height: 56px;

  text-align: center;

  color: #fff;

  font-size: 18px;

 }

 ul.vertictimeline li.alt .number {

  background: url(../img/version_dot_alt.png);

  }

  ul.vertictimeline li .content {

  margin-left: 180px;
  border: 1px solid #efefef; 



 	
  }
 
  ul.vertictimeline li .content:hover{
	border-width: 2px;
  border-color:#666666; 
 background-color:yellow;
}

ul.vertictimeline li.alt .content:hover{
 border-width: 2px;
  border-color:#666666; 
}

  ul.vertictimeline li .content div.tablestyle {

 background-color: #efefef;

  

 padding: 10px 20px;

  

 color: #008cd7;

  

 /* font-size: 13px; */

  

 line-height: 20px;

  

 font-weight: bold;

 font-size: 14px;

}

div.tablestyle {

 background-color: #efefef;
 
 padding: 10px 20px; 

}

ul.table,li.row {
	margin:0;
	
	padding:0;
	 
	list-style:none; 
}
ul.table {
	overflow:hidden;
}
li.row {
	
	overflow:hidden;
	 
	line-height:20px;
	 
	color:#008ed7;
	 
	font-weight:bold;
	
	font-size: 14px;
}
li.row span{
	float:left;
	width: 30%;
}

  ul.vertictimeline li.alt .content pre {

 background-color: #f6f6f6;

  }
  .number img{
 margin-bottom:-5px;
}
  